<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EcommerceWebApp</title>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EcommerceWebApp.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark text-white border-bottom mb-3">
            <div class="container-fluid">
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav">
                        @if (!(ViewContext.RouteData.Values["action"]?.ToString() == "Index"
                                                && ViewContext.RouteData.Values["controller"]?.ToString() == "Home"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" href="javascript:history.back()">
                                    <i class="fa-solid fa-chevron-left fa-xl"></i>
                                </a>
                            </li>
                        }

                        @if (ViewBag.SelectedCategory != null)
                        {
                            <li class="nav-item">
                                <span class="nav-link text-white" style="font-weight: 600">
                                    @ViewBag.SelectedCategory
                                </span>
                            </li>
                        }
                    </ul>
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link text-white fw-bold" asp-controller="Home" asp-action="Index">Company Name</a>
                        </li>
                        <li>
                            <a class="nav-link text-white" href="#">
                                <i class="fa-solid fa-circle-user fa-xl"></i>
                            </a>
                        </li>
                        <li>
                            <a class="nav-link text-white" href="#">
                                <i class="fa-solid fa-ellipsis-vertical fa-xl"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    @RenderBody()

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/a293bfc92d.js" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
